* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clearfix {
  overflow: none;
  clear: left;
  display: inline-block;
}

header {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid;
}

.logo {
  width: 10%;
  float: left;
  height: 95px;
}

.slider {
  width: 100% !important;
  padding: 10px;
}

.slider img {
  width: 100%;
  height: 650px;
  max-height: 800px;
  text-align: center;
}

.slider div {
  width: 100%;
  padding: 0px;
  display: inline-block;
}

.slider,
.overlay {
  background-color: rgba(0, 0, 0, 43%); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

button {
  align-items: center;
  text-align: center;
  background-color: #000924;
  color: white;
  font-size: 16px;
  font-weight: 800;
  height: 40px;
  border: none;
  max-width: 500px;
  width: 250px;
  border-radius: 8px;
  display: inline-block;
}

nav {
  width: 90%;
  padding-top: 15px;
  box-sizing: border-box;
  float: right;
  text-align: right;
}

button:hover {
  align-items: center;
  text-align: center;
  background-color: #fd0000;
  color: white;
  font-size: 16px;
  font-weight: 800;
  height: 40px;
}
section {
  width: 86%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  background-color: #d3d3d3;
}

div {
  width: 100%;
  padding: 10px;
  display: inline-block;
}

nav div {
  width: 200px;
  padding: 10px;
  display: inline-block;
}

ul {
  font-size: 15px;
  margin: 5%;
  padding: 10px;
  text-align: justify;
  color: #161616;
}

li {
  padding-top: 10px;
}

.light {
  color: #000000;
}

.dark {
  color: #d3d3d3;
}

.warning {
  color: #f4ff55;
}

.danger {
  color: #ff0000;
}

.grey {
  color: #6e6e6e;
}

.success {
  color: #1f8500;
}

#home img {
  border-radius: 9px;
  width: 70%;
  margin: 5px;
  height: 70%;
  max-height: 600px;
  text-align: center;
  border: 6px solid #fff;
  box-shadow: 1px 3px 10px 3px #444;
}

img {
  width: 100%;
  height: 100vh;
  max-height: 600px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 43%); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}

div .form {
  margin: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  width: 45%;
  padding: 28px;
  float: left;
  clear: left;
  box-shadow: 1px 3px 10px 3px #444;
}

div .form-info {
  width: 50%;
  padding: 10px;
  clear: left;
}

span {
  width: 100%;
  height: auto;
  clear: both;
}

input {
  width: 100%;
  padding: 20px;
  font-size: large;
}

input[type="submit"] {
  background-color: #a52a2a;
  color: white;
  font-size: 20px;
  border: 1px solid #ff0000;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #f54141;
  color: white;
  font-size: 20px;
  border: 1px solid #3e0202;
  margin-bottom: 10px;
}

p {
  margin: 10px 0px;
  color: #272727;
  padding: 10px;
  font-size: 20px;
}

#demo {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  display: none;
}

#demo span {
  width: auto;
  height: auto;
  display: inline-block;
  min-width: 250px;
  padding-right: 25px;
}

#demo-1 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  width: 100%;
  justify-content: center;
  display: none;
}

#demo-2 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  justify-content: center;
  display: none;
}

#demo-3 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  justify-content: center;
  display: none;
}

#demo-1 .row {
  margin: 5%;
  height: 30px;
  width: 50%;
  text-align: center;

  float: left;
}

h1 {
  margin: auto;
  padding: auto;
  text-align: center;
}

h2 {
  margin: auto;
  padding: 10px;
  text-align: center;
}

button {
  align-items: center;
  text-align: center;
  background-color: #000924;
  color: white;
  font-size: 16px;
  font-weight: 800;
  height: 40px;
  border: none;
  max-width: 500px;
  width: -webkit-fill-available;
  border-radius: 8px;
}

aside {
  background-color: 45526b;
  width: 14%;
  height: auto;
  float: left;
  padding: 20px;
  text-align: center;
}

aside button {
  margin: 2%;
  padding: 10px;
  font-size: 14px;
  font-weight: 800;
  word-spacing: 2px;
  width: 100%;
  height: auto;
  letter-spacing: 1px;
}

aside button:hover {
  margin: 2%;
  padding: 10px;
  font-size: 14px;
  font-weight: 800;
  word-spacing: 2px;
  width: 100%;
  height: auto;
  background-color: #a52a2a;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: larger;
}

.msg {
  color: #1f8500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.error {
  color: #ffe738;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  text-transform: uppercase;
}
